{% extends 'base.html' %}

{% block additional_headers %}
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/css/material.css" rel="stylesheet">
  <link href="/static/css/ripples.min.css" rel="stylesheet">
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/animate.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
{% endblock %}


{% block content %}


    <div class="navbar navbar-invers menu-wrap">
      <div class="navbar-header text-center">
        <a class="navbar-brand logo-right" href="javascript:void(0)"><i class="fa fa-university"></i>Almify</a>
      </div>
        <ul class="nav navbar-nav main-navigation">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#why">Why</a></li>
          <li><a href="#screenshot">Screenshots</a></li>
          <li><a href="#testimonial">Testimonial</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <button class="close-button" id="close-button">Close Menu</button>
    </div>
  	
  	<div class="content-wrap">
     <header class="hero-area" id="home">
      
      <div class="container">
          <div class="col-md-12">

            <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
              <div class="container">
                <div class="navbar-header">
                  <a class="logo-left " href="/"><i class="fa fa-university"></i>Almify</a>
                </div>
                <div class="navbar-right">
                  <button class="menu-icon" id="open-button">
                    <i class="mdi-navigation-menu"></i>
                  </button>             
                </div>
              </div>
            </div>
        </div>        
        <div class="contents text-right">
          <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Almify - Inspire A Culture of Giving</h1>
          <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Scalable charitable donation software built just for your needs</p>
          <a href="#contact" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Interested?</a>
          <a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Learn More</a>
        </div>   
    </header>

    <section id="features" class="section">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">Platform features</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">You don't want these features, you need them</h2>
        </div>
        <div class="row">

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-settings"></i>
              </div>
              <div class="features-text">
                <h4>Inspire A Culture of Giving</h4>
                <p>
                  Almify’s goal is to provide educational institutions with an interactive platform that allows for current students and recent graduates to make small donations on a rolling basis.
                </p>
              </div>
             </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-done-all"></i>
              </div>
              <div class="features-text">
                <h4>Easily Collect Information</h4>
                <p>
                  Keeping track of graduates’ contact info can be challenging. Almify allows users sign up easily online or via mobile app and provides institutions with up-to-date contact details of all users.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-image-blur-linear"></i>
              </div>
              <div class="features-text">
                <h4>Seamlessly Integrate with Current Systems</h4>
                <p>
                  Almify easily integrates with existing donation-based infrastructure making internal tracking and reporting on donations effortless for your Advancement Team.
                </p>
              </div>
            </div>
          </div>            


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-communication-business"></i>
              </div>
              <div class="features-text">
                <h4>Easily Onboard New Users</h4>
                <p>
                  Almify makes giving easy with a very simple onboarding process for students as well as institutions.
                </p>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-favorite"></i>
              </div>
              <div class="features-text">
                <h4>Create Personalized Class Portals</h4>
                <p>
                  Each graduating class has its own “giving portal” allowing them to easily set and track class donation goals. The portal also serves as an instrumental medium by which institutions can message back to students and alumni.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-hardware-phonelink"></i>
              </div>
              <div class="features-text">
                <h4>Unlock "Almify Donations"</h4>
                <p>
                  Almify’s goal is to help institutions inspire a culture of giving, and we’re willing to back that up with matching financial donations. Generous students, parents, alumni and faculty members can pose similar challenges to graduating classes, offering to match donations and inspiring students to reach and surpass class goals.
                </p>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>

    <section id="why" class="section">
      <div class="container">
        
        <div class="row">     

          <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="/static/img/features/img1.png" alt="">
          </div>

          <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="pull-left content">
              <h2>Your alumni will love Almify mobile</h2>
              <p>
              	By providing it’s users with a simple, interactive, easy-to-use platform, Almify mobile makes it easier to engage, and easier to give
              </p>
              <ul class="list-item">
                <li><i class="mdi-action-done"></i>Clean mobile interface</li>
                <li><i class="mdi-action-done"></i>One tap payment</li>
                <li><i class="mdi-action-done"></i>Push notifications enabled</li>
                <li><i class="mdi-action-done"></i>Almify dollars available when you join with your institution’s code</li>
              </ul>
              <a href="javascript:void(0)" class="btn btn-lg btn-primary">Downoad Now!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section id="main-features" class="section main-feature-gray">
      <div class="container">

        <div class="row">   
          <div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="feature-item">
              <h3 class="title-small">
                Easily communicate with your alumni base
              </h3>
              <p>
                With Almify, institutions can easily communicate with their alumni base. Send updates on upcoming events, create donation challenges, and keep touch with frequent donors.
              </p>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="/static/img/features/fet1.png" class="img-responsive" alt="">
          </div>  

        </div>

      </div>
    </section>

     <section id="main-features" class="section">
      <div class="container">


        <div class="row">   
          <div class="col-md-4 col-sm-4 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="/static/img/features/fet2.png" class="img-responsive" alt="">
          </div>    

          <div class="col-md-8 col-sm-8 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="feature-item">
              <h3 class="title-small">
                Easily Track Donation Goals
              </h3>
              <p>
                Increase donations by giving alumni the power to easily track their individual and group donation goals.
              </p>
              <p>
                Institutions can also track donation levels by individual and by class.
              </p>
            </div>
          </div>
          
        </div>

      </div>
    </section>


    <section id="cta">
      <div class="container">
        <div class="row text-center">         
            <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Join us today and get ahead with your fundraising efforts</h3>
             <a href="#contact" class="btn btn-lg btn-border">Interested Now?</a>
          </div>
      </div>
    </section>

    <section id="screenshot" class="section">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Screenshots</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">We haven't built this stuff yet but here's some pictures</h2>
        </div>
      </div>
      <div class="row" style="margin:0; padding:0;">
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img1.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 1</h3>
                  <p>
                    Picture of Portland maps
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img2.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 2</h3>
                  <p>
                    My friend Hunter
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img3.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 3</h3>
                  <p>
                    Run lola run!
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img4.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 4</h3>
                  <p>
                    Credit card debt :/
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img5.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 5</h3>
                  <p>
                    lalalalala
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin:0; padding:0;">
          <div class="portfolio">
            <figure class="effect-julia">
              <img src="/static/img/portfolio/img6.jpg" alt="">
              <figcaption>
                <div class="heading">
                  <h3>Screenshot 6</h3>
                  <p>
                    Bob Sawyer
                  </p>
                </div>
                <div class="icon">
                  <i class="mdi-content-add-circle-outline"></i>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>


    <!-- <section id="other-features">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">More Features</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Premium features for those who pay us more</h2>
        </div> 
        <div class="row">
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="features-content">
              <div class="icon hi-icon-effect-3b">
                <i class="mdi-action-settings"></i>
              </div>
              <h3>Customization</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-lock-outline"></i>
              </div>
              <h3>Security</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-file-cloud-queue"></i>
              </div>
              <h3>Cloud</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-social-person-outline"></i>
              </div>
              <h3>Analtyics</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-grade"></i>
              </div>
              <h3>Performance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1400ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-content-flag"></i>
              </div>
              <h3>Network</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-communication-messenger"></i>
              </div>
              <h3>Support</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1800ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-settings-power"></i>
              </div>
              <h3>Easy</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <section id="testimonial" class="section">
      <div class="container">
        <div class="section-header text-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
          <h1 class="section-title">Don't take it from us, listen to our customers!</h1>
          <h2 class="section-subtitle">They are so totally real</h2>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#testimonial-carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active text-center">               
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                  <div class="meta">
                    <p>Donny Gravy</p>
                  </div>
                </div>
                <div class="item text-center">                
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                  <div class="meta">
                    <p>Stavi Dellino</p>
                  </div>
                </div>
                <div class="item text-center">                
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                  <div class="meta">
                    <p>Byrnzy the dog</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="counter" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="counter-item">
              <div class="icon">
                <i class="mdi-action-get-app"></i>
              </div>
              <h3 class="timer">39000</h3>
              <hr>
              <h5>
                App downloads
              </h5>          
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="counter-item">
              <div class="icon">
                <i class="mdi-action-face-unlock"></i>
              </div>
              <h3 class="timer">19046</h3>
              <hr>
              <h5>
                Active alumni
              </h5>          
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="counter-item">
              <div class="icon">
                <i class="mdi-action-grade"></i>
              </div>
              <h3 class="timer">6345</h3>
              <hr>
              <h5>
                Educational Institutions
              </h5>          
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="counter-item">
              <div class="icon">
                <i class="mdi-action-trending-up"></i>
              </div>
              <h3 class="timer">100000</h3>
              <hr>
              <h5>
                Happy Customers
              </h5>          
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="clients" class="section">
      <div class="container">
        
        <div class="section-header text-center">
          <h1 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Featured on</h1>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="client-item-wrapper">
              <img src="/static/img/clients/img1.png" alt="">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="client-item-wrapper">
              <img src="/static/img/clients/img2.png" alt="">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="client-item-wrapper">
              <img src="/static/img/clients/img3.png" alt="">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="client-item-wrapper">
              <img src="/static/img/clients/img4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="section-title">Where we are</h2>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-maps-map"></i>
                  </div>
                  <h4>Location</h4>
                  <p>Boston, MA</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-content-mail"></i>
                  </div>
                  <h4>Email</h4>
                  <p>kyle@almify.com</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-action-settings-phone"></i>
                  </div>
                  <h4>Phone Number</h4>
                  <p>0753 016 572</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-action-thumb-up"></i>
                  </div>
                  <h4>Social Media</h4>
                  <p>@almify</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="section-title">Get in touch with us</h2>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error" style="background:#e74c3c;padding: 5px 10px;margin-bottom: 5px;border-radius:2px;">
                            <strong>{{field.name}} - {{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error" style="background:#e74c3c;padding: 5px 10px;margin-bottom: 5px;border-radius:2px;">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Form -->
            <form class="contact-form" action="/#contact" method="post" id="contact-form">
              {% csrf_token %}
              <i class="mdi-action-account-box"></i>
              <input type="text" class="form-control" name="name" placeholder="Name">
            
              <i class="mdi-content-mail"></i>
              <input type="email" class="form-control" name="email" placeholder="Email">     

              <i class="mdi-action-account-balance"></i>
              <input type="text" class="form-control" name="organization" placeholder="Organization">                  
                                    
              <textarea class="form-control" placeholder="Message" rows="4" name="description"></textarea>              
              <button type="submit" id="submit" class="btn btn-lg btn-primary">Send Massage</button>
              <div id="success" style="color:#3F51B5;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>    

    <section id="footer">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <h3>Products</h3>
              <ul>
                <li>
                	<a href="#">High School</a>
                </li>
                <li>
                	<a href="#">College</a>
                </li>
                <li>
                	<a href="#">Almify Premium</a>
                </li> 
                <li>
                	<a href="#">iOS App</a>
                </li>             
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <h3>Info</h3>
              <ul>
                <li>
                	<a href="#">Why choose us?</a>
                </li>
                <li>
                	<a href="#">Pricing</a>
                </li>
                <li>
                	<a href="#">Guarantee</a>
                </li>
                <li>
                	<a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <h3>About</h3>
              <ul>
                <li><a href="#">Mission</a>
                </li>
                <li><a href="#">Partners</a>
                </li>
                <li><a href="#">Team</a>
                </li>
                <li><a href="#">Careers</a>
                </li>
                <li><a href="#">Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <h3>Find us on</h3>
              <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>  
      </div>      
      <!-- Go to Top Link -->
      <a href="#home" class="btn btn-primary back-to-top">
      <i class=" mdi-hardware-keyboard-arrow-up"></i>
      </a>
    </section> 
   
    </div>  
		

    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ripples.min.js"></script>
    <script src="/static/js/material.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/jquery.mmenu.min.all.js"></script> 
    <script src="/static/js/count-to.js"></script>   
    <script src="/static/js/jquery.inview.min.js"></script>     
    <script src="/static/js/main.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/jquery.nav.js"></script>      
    <!-- <script src="/static/js/smooth-on-scroll.js"></script>
    // <script src="/static/js/smooth-scroll.js"></script> -->
    

    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>

    <!-- jumps to form if there was an error -->
    <script>
        $(function () {
            {% if anchor %}
                $(document.body).animate({
                    'scrollTop':   $('#{{ anchor }}').offset().top
                }, 0);
            {% endif %}
        });
    </script>

{% endblock %}
